langgraph
langchain_openai
langchain
fastapi
plotly

pandas
langchain-anthropic
matplotlib
kaleido 
uvicorn

pydantic
requests
langchain 
numpy


nbformat
openai

llama-index
sqlalchemy
psycopg2-binary
pyodbc
